In [1]:
import pandas as pd

In [4]:
df=pd.Series([4,8,15,16,23,42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
mydata = [1776,1867,1821]

In [7]:
mysr=pd.Series(mydata)
print(mysr)

0    1776
1    1867
2    1821
dtype: int64

In [12]:
d={"Name":["Alice","Bob","Clarie"],
"Age":["25","30","27"],
"Gender":["Female","Male","Female"]}

In [20]:
dd=pd.DataFrame(data=d,index=None)
dd

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Clarie  27  Female

In [21]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Pandas DataFrame, on the other hand, is a two-dimensional structure with columns and rows whose size 
can be changed. You can also think of it as a dictionary of Series objects. The data parameter can take
any of the following data types: Dictionary (dict) of – 1D ndarray, lists, or Series

SyntaxError: invalid character '‘' (U+2018) (3605824849.py, line 1)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?